<app-accordion>
    <app-accordion-section title="Section One">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse quas magni
        mollitia voluptates nulla quis quisquam
        consectetur, delectus possimus ducimus tenetur quo explicabo voluptas iusto sit expedita accusamus laborum
        nesciunt?
    </app-accordion-section>
    <app-accordion-section title="Section Two">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse quas magni
        mollitia voluptates nulla quis quisquam
        consectetur, delectus possimus ducimus tenetur quo explicabo voluptas iusto sit expedita accusamus laborum
        nesciunt?
    </app-accordion-section>
    <app-accordion-section title="Section Three">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse quas magni
        mollitia voluptates nulla quis quisquam
        consectetur, delectus possimus ducimus tenetur quo explicabo voluptas iusto sit expedita accusamus laborum
        nesciunt?
    </app-accordion-section>
</app-accordion>